<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>minLevel</key>
		<integer>1</integer>
		<key>points</key>
		<integer>1</integer>
		<key>max</key>
		<integer>4</integer>
		<key>elite</key>
		<false/>
		<key>level</key>
		<integer>1</integer>
		<key>name</key>
		<string>Range</string>
	</dict>
	<dict>
		<key>minLevel</key>
		<integer>1</integer>
		<key>points</key>
		<integer>1</integer>
		<key>max</key>
		<integer>4</integer>
		<key>elite</key>
		<false/>
		<key>level</key>
		<integer>1</integer>
		<key>name</key>
		<string>Melee</string>
	</dict>
	<dict>
		<key>minLevel</key>
		<integer>1</integer>
		<key>points</key>
		<real>1.5</real>
		<key>max</key>
		<integer>1</integer>
		<key>elite</key>
		<false/>
		<key>level</key>
		<integer>1</integer>
		<key>name</key>
		<string>RangeTracking</string>
	</dict>
	<dict>
		<key>minLevel</key>
		<integer>2</integer>
		<key>points</key>
		<integer>1</integer>
		<key>max</key>
		<integer>1</integer>
		<key>elite</key>
		<false/>
		<key>level</key>
		<integer>1</integer>
		<key>name</key>
		<string>Suicide</string>
	</dict>
	<dict>
		<key>minLevel</key>
		<integer>3</integer>
		<key>points</key>
		<integer>1</integer>
		<key>max</key>
		<integer>2</integer>
		<key>elite</key>
		<false/>
		<key>level</key>
		<integer>1</integer>
		<key>name</key>
		<string>Dash</string>
	</dict>
	<dict>
		<key>minLevel</key>
		<integer>3</integer>
		<key>points</key>
		<real>1.5</real>
		<key>max</key>
		<integer>1</integer>
		<key>elite</key>
		<false/>
		<key>level</key>
		<integer>1</integer>
		<key>name</key>
		<string>RangeTripple</string>
	</dict>
	<dict>
		<key>minLevel</key>
		<integer>3</integer>
		<key>points</key>
		<integer>1</integer>
		<key>max</key>
		<integer>1</integer>
		<key>elite</key>
		<false/>
		<key>level</key>
		<integer>1</integer>
		<key>name</key>
		<string>Sludge</string>
	</dict>
	<dict>
		<key>minLevel</key>
		<integer>3</integer>
		<key>points</key>
		<integer>2</integer>
		<key>max</key>
		<integer>1</integer>
		<key>elite</key>
		<false/>
		<key>level</key>
		<integer>1</integer>
		<key>name</key>
		<string>Bomber</string>
	</dict>
	<dict>
		<key>minLevel</key>
		<integer>3</integer>
		<key>points</key>
		<integer>2</integer>
		<key>max</key>
		<integer>1</integer>
		<key>elite</key>
		<false/>
		<key>level</key>
		<integer>1</integer>
		<key>name</key>
		<string>RangeRing</string>
	</dict>
	<dict>
		<key>minLevel</key>
		<integer>3</integer>
		<key>points</key>
		<integer>2</integer>
		<key>max</key>
		<integer>1</integer>
		<key>elite</key>
		<true/>
		<key>level</key>
		<integer>5</integer>
		<key>name</key>
		<string>Melee</string>
	</dict>
	<dict>
		<key>minLevel</key>
		<integer>3</integer>
		<key>points</key>
		<integer>2</integer>
		<key>max</key>
		<integer>1</integer>
		<key>elite</key>
		<true/>
		<key>level</key>
		<integer>5</integer>
		<key>name</key>
		<string>Range</string>
	</dict>
</array>
</plist>
