<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array/>
		<key>level</key>
		<integer>1</integer>
		<key>max</key>
		<integer>5</integer>
		<key>min</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>items</key>
		<array/>
		<key>level</key>
		<integer>2</integer>
		<key>max</key>
		<integer>6</integer>
		<key>min</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>items</key>
		<array/>
		<key>level</key>
		<integer>3</integer>
		<key>max</key>
		<integer>6</integer>
		<key>min</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>items</key>
		<array/>
		<key>level</key>
		<integer>4</integer>
		<key>max</key>
		<integer>7</integer>
		<key>min</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>items</key>
		<array/>
		<key>level</key>
		<integer>5</integer>
		<key>max</key>
		<integer>7</integer>
		<key>min</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>items</key>
		<array/>
		<key>level</key>
		<integer>6</integer>
		<key>max</key>
		<integer>8</integer>
		<key>min</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>items</key>
		<array/>
		<key>level</key>
		<integer>7</integer>
		<key>max</key>
		<integer>8</integer>
		<key>min</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>items</key>
		<array/>
		<key>level</key>
		<integer>8</integer>
		<key>max</key>
		<integer>10</integer>
		<key>min</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>items</key>
		<array/>
		<key>level</key>
		<integer>9</integer>
		<key>max</key>
		<integer>12</integer>
		<key>min</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>items</key>
		<array/>
		<key>level</key>
		<integer>10</integer>
		<key>max</key>
		<integer>15</integer>
		<key>min</key>
		<integer>12</integer>
	</dict>
</array>
</plist>
