<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Suicide</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Dash</string>
			</dict>
			<dict>
				<key>elite</key>
				<true/>
				<key>level</key>
				<integer>5</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>3</integer>
				<key>type</key>
				<string>RangeTripple</string>
			</dict>
			<dict>
				<key>elite</key>
				<integer>1</integer>
				<key>level</key>
				<integer>5</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>RangeTracking</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>RangeTracking</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Suicide</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>RangeTracking</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Suicide</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>RangeTracking</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Suicide</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>RangeTripple</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Dash</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Suicide</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Dash</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Dash</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Dash</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Dash</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>RangeTripple</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>RangeTripple</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Dash</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Sludge</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>RangeTracking</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>RangeTripple</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Sludge</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Dash</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Dash</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Sludge</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Range</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Sludge</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mobs</key>
		<array>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Melee</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>RangeTracking</string>
			</dict>
			<dict>
				<key>elite</key>
				<false/>
				<key>level</key>
				<integer>1</integer>
				<key>type</key>
				<string>Sludge</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
